@keyframes moveinBottom{
    0%{
        opacity: 0;
        transform:translate(3rem,20%) scale(.9);
    }
    80%{
        opacity: 1;
        transform:translate(3rem,20%) scale(1.2);
    }
    100%{
        opacity: 1;
        transform:translate(3rem,20%) scale(1);
    }

}

@keyframes moveinBottomphone{
    0%{
        opacity: 0;
        transform:translate(2rem,40%) scale(.9);
    }
    80%{
        opacity: 1;
        transform:translate(2rem,40%) scale(1.2);
    }
    100%{
        opacity: 1;
        transform:translate(2rem,40%) scale(1);
    }

}


@keyframes moveinleft{
    0%{
        opacity: 0;
        transform: translateX(-50%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveinbutton{
    0%{
        opacity: 0;
        transform: translateY(100%);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomin{
    0%{
        opacity: 0;
        transform: scale(.8);
    }


    100%{
        opacity: 1;
        transform: scale(1);
    }
}