.btn{
    &:link,
    &:visited{
        font-size: $font-default-size;
        padding:1.8rem 3.2rem;
        border-radius: 6rem;
        text-transform: uppercase;
        display: inline-block;
        text-decoration: none;
        border:none;
        cursor: pointer;
        transition: all .2s;
       
    }

    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black,0.2);
        font-weight: bold;
    }

    &:active{
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black,0.2);
    }

    &:focus{
        outline: none;
    }

    &--animated{
        animation: moveinbutton 1s ease-out 1s;
        animation-fill-mode: backwards;
    }

    &--green{
        
        background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%);
        color:$color-white;
       
        &:hover {
           background-position: right center;
           color: #fff;
           text-decoration: none;
         }
        
    }

    &--github{
        background-color: #000000;
        color:$color-white;
        position: absolute;
        bottom:2rem;
        transform: translateX(-50%);

        &:hover{
            transform: translate(-50%,-.3rem);
            box-shadow: 0 1rem 2rem rgba($color-black,0.2);
            font-weight: bold;
        }

        &:active{
            transform: translate(-50%,-.1rem);
            box-shadow: 0 .5rem 1rem rgba($color-black,0.2);
        }
    
        
    }


}