@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.card{
    height:70rem;
    position: relative;
    font-family: 'Lato', sans-serif;

    

    &__side{
        height:70rem;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        border-radius: 3px;
        box-shadow: 0 1rem 3rem rgba($color-black,.2);
        overflow: hidden;
        background-color:$color-white;
    }

    &__picture{
        height:30rem;
        width:100%;

        &--1{
            background: url('images/card1.png');
            background-size: cover;
        }

        
        &--2{
            background: url('images/card2.png');
            background-size:cover;
            background-position: center;
        }

        &--3{
            background: url('images/card3.png');
            background-size:cover;
            background-position:2rem;
        }

        &--4{
            background: url('images/card4.png');
            background-size: cover;
            border-bottom: 1px solid $color-black;
        }

        &--5{
            background: url('images/card5.png');
            background-size: cover;
        }

        &--6{
            background: url('images/card6.png');
            background-size: cover;
        }

        &--7{
            background: url('images/card7.png');
            background-size: cover;
            background-position: center;
        }

    }

    &__heading{
        text-align: center;
        padding:3rem 0;
        font-size: 2.8rem;
        font-weight: 700;

        @include respond(tab-land){
            font-size: 3.2rem;
            padding: 3rem 0;
        }
    }

    &__details{
        font-size:$font-default-size;
        font-weight:600;
        padding: 0 2rem;
        line-height:1.8;

        @include respond(tab-land){
            font-size: 2rem;
            padding: 0 2.3rem;
        }
    }

    


}